/*  ==========================================================================
    $TOC - BOX-MODEL

    1. space
    2. content
    3. padding
    4. border
    5. box
    6. margin
    ========================================================================== */



/*  $SPACE
    ========================================================================== */

@space-micro:                       2px;
@space-tiniest:                     3px;
@space-tinier:                      5px;
@space-tiny:                        10px;
@space-smallest:                    15px;
@space-smaller:                     20px;
@space-small:                       25px;
@space-large:                       30px;
@space-larger:                      40px;
@space-largest:                     50px;
@space-big:                         60px;
@space-bigger:                      100px;
@space-biggest:                     150px;
@space-huge:                        200px;
// @space-huger:                       px;
// @space-hugest:                      px;



/*  $CONTENT
    ========================================================================== */

.content--micro          { line-height: @space-micro; }
.content--tiniest        { line-height: @space-tiniest; }
.content--tinier         { line-height: @space-tinier; }
.content--tiny           { line-height: @space-tiny; }
.content--smallest       { line-height: @space-smallest; }
.content--smaller        { line-height: @space-smaller; }
.content--small          { line-height: @space-small; }
.content--large          { line-height: @space-large; }
.content--larger         { line-height: @space-larger; }
.content--largest        { line-height: @space-largest; }
.content--big            { line-height: @space-big; }
.content--bigger         { line-height: @space-bigger; }
.content--biggest        { line-height: @space-biggest; }
.content--huge           { line-height: @space-huge; }



/*  $PADDING
    ========================================================================== */

/* X */
.padding--x-micro {
    padding-right: @space-micro; 
    padding-left: @space-micro;
}
.padding--y-tiniest {
    padding-top: @space-tiniest; 
    padding-bottom: @space-tiniest;
}
.padding--x-tiniest {
    padding-right: @space-tiniest; 
    padding-left: @space-tiniest;
}
.padding--x-tinier {
    padding-right: @space-tinier;  
    padding-left: @space-tinier;
}
.padding--x-tiny {
    padding-right: @space-tiny;    
    padding-left: @space-tiny;
}
.padding--x-smallest {
    padding-right: @space-smallest;
    padding-left: @space-smallest;
}
.padding--x-smaller {
    padding-right: @space-smaller; 
    padding-left: @space-smaller;
}
.padding--x-small {
    padding-right: @space-small;   
    padding-left: @space-small;
}
.padding--x-large {
    padding-right: @space-large;   
    padding-left: @space-large;
}
.padding--x-larger {
    padding-right: @space-larger;  
    padding-left: @space-larger;
}
.padding--x-largest {
    padding-right: @space-largest; 
    padding-left: @space-largest;
}
.padding--x-big {
    padding-right: @space-big;     
    padding-left: @space-big;
}
.padding--x-bigger {
    padding-right: @space-bigger;  
    padding-left: @space-bigger;
}
.padding--x-biggest {
    padding-right: @space-biggest; 
    padding-left: @space-biggest;
}
.padding--x-huge {
    padding-right: @space-huge; 
    padding-left: @space-huge;
}

/* Y */
.padding--y-micro {
    padding-top: @space-micro; 
    padding-bottom: @space-micro;
}
.padding--y-tiniest {
    padding-top: @space-tiniest; 
    padding-bottom: @space-tiniest;
}
.padding--y-tiniest {
    padding-top: @space-tiniest; 
    padding-bottom: @space-tiniest;
}
.padding--y-tinier {
    padding-top: @space-tinier;  
    padding-bottom: @space-tinier;
}
.padding--y-tiny {
    padding-top: @space-tiny;    
    padding-bottom: @space-tiny;
}
.padding--y-smallest {
    padding-top: @space-smallest;
    padding-bottom: @space-smallest;
}
.padding--y-smaller {
    padding-top: @space-smaller; 
    padding-bottom: @space-smaller;
}
.padding--y-small {
    padding-top: @space-small;   
    padding-bottom: @space-small;
}
.padding--y-large {
    padding-top: @space-large;   
    padding-bottom: @space-large;
}
.padding--y-larger {
    padding-top: @space-larger;  
    padding-bottom: @space-larger;
}
.padding--y-largest {
    padding-top: @space-largest; 
    padding-bottom: @space-largest;
}
.padding--y-big {
    padding-top: @space-big;     
    padding-bottom: @space-big;
}
.padding--y-bigger {
    padding-top: @space-bigger;  
    padding-bottom: @space-bigger;
}
.padding--y-biggest {
    padding-top: @space-biggest; 
    padding-bottom: @space-biggest;
}
.padding--y-huge {
    padding-top: @space-huge; 
    padding-bottom: @space-huge;
}

/* TOP */
.padding--top-micro                 { padding-top: @space-micro; }
.padding--top-tiniest               { padding-top: @space-tiniest; }
.padding--top-tinier                { padding-top: @space-tinier; }
.padding--top-tiny                  { padding-top: @space-tiny; }
.padding--top-smallest              { padding-top: @space-smallest; }
.padding--top-smaller               { padding-top: @space-smaller; }
.padding--top-small                 { padding-top: @space-small; }
.padding--top-large                 { padding-top: @space-large; }
.padding--top-larger                { padding-top: @space-larger; }
.padding--top-largest               { padding-top: @space-largest; }
.padding--top-big                   { padding-top: @space-big; }
.padding--top-bigger                { padding-top: @space-bigger; }
.padding--top-biggest               { padding-top: @space-biggest; }
.padding--top-huge                  { padding-top: @space-huge; }


/* RIGHT */
.padding--right-micro               { padding-right: @space-micro; }
.padding--right-tiniest             { padding-right: @space-tiniest; }
.padding--right-tinier              { padding-right: @space-tinier; }
.padding--right-tiny                { padding-right: @space-tiny; }
.padding--right-smallest            { padding-right: @space-smallest; }
.padding--right-smaller             { padding-right: @space-smaller; }
.padding--right-small               { padding-right: @space-small; }
.padding--right-large               { padding-right: @space-large; }
.padding--right-larger              { padding-right: @space-larger; }
.padding--right-largest             { padding-right: @space-largest; }
.padding--right-big                 { padding-right: @space-big; }
.padding--right-bigger              { padding-right: @space-bigger; }
.padding--right-biggest             { padding-right: @space-biggest; }
.padding--right-huge                { padding-right: @space-huge; }

/* BOTTOM */
.padding--bottom-micro              { padding-bottom: @space-micro; }
.padding--bottom-tiniest            { padding-bottom: @space-tiniest; }
.padding--bottom-tinier             { padding-bottom: @space-tinier; }
.padding--bottom-tiny               { padding-bottom: @space-tiny; }
.padding--bottom-smallest           { padding-bottom: @space-smallest; }
.padding--bottom-smaller            { padding-bottom: @space-smaller; }
.padding--bottom-small              { padding-bottom: @space-small; }
.padding--bottom-large              { padding-bottom: @space-large; }
.padding--bottom-larger             { padding-bottom: @space-larger; }
.padding--bottom-largest            { padding-bottom: @space-largest; }
.padding--bottom-big                { padding-bottom: @space-big; }
.padding--bottom-bigger             { padding-bottom: @space-bigger; }
.padding--bottom-biggest            { padding-bottom: @space-biggest; }
.padding--bottom-huge               { padding-bottom: @space-huge; }

/* LEFT */
.padding--left-micro                { padding-left: @space-micro; }
.padding--left-tiniest              { padding-left: @space-tiniest; }
.padding--left-tinier               { padding-left: @space-tinier; }
.padding--left-tiny                 { padding-left: @space-tiny; }
.padding--left-smallest             { padding-left: @space-smallest; }
.padding--left-smaller              { padding-left: @space-smaller; }
.padding--left-small                { padding-left: @space-small; }
.padding--left-large                { padding-left: @space-large; }
.padding--left-larger               { padding-left: @space-larger; }
.padding--left-largest              { padding-left: @space-largest; }
.padding--left-big                  { padding-left: @space-big; }
.padding--left-bigger               { padding-left: @space-bigger; }
.padding--left-biggest              { padding-left: @space-biggest; }
.padding--left-huge                 { padding-left: @space-huge; }



/*  $BORDER
    ========================================================================== */

// /* RADII */
// @radius-smaller:                            3px;
// @radius-small:                              5px;
// @radius-base:                               10px;
// @radius-circle:                             50%;
// @radius-pill:                               999em;

// .border-radius--smaller                     { border-radius: @radius-smaller; }
// .border-radius--small                       { border-radius: @radius-small; }
// .border-radius--base                        { border-radius: @radius-base; }

// .border-radius--top-smaller                 { border-radius: @radius-smaller @radius-smaller 0 0; }
// .border-radius--top-small                   { border-radius: @radius-small @radius-small 0 0; }
// .border-radius--top-base                    { border-radius: @radius-base @radius-base 0 0; }

// .border-radius--right-smaller               { border-radius: 0 @radius-smaller @radius-smaller 0; }
// .border-radius--right-small                 { border-radius: 0 @radius-small @radius-small 0; }
// .border-radius--right-base                  { border-radius: 0 @radius-base @radius-base 0; }

// .border-radius--bottom-smaller              { border-radius: 0 0 @radius-smaller @radius-smaller; }
// .border-radius--bottom-small                { border-radius: 0 0 @radius-small @radius-small; }
// .border-radius--bottom-base                 { border-radius: 0 0 @radius-base @radius-base; }

// .border-radius--left-smaller                { border-radius: @radius-smaller 0 0  @radius-smaller; }
// .border-radius--left-small                  { border-radius: @radius-small 0 0  @radius-small; }
// .border-radius--left-base                   { border-radius: @radius-base 0 0  @radius-base; }

// .border-radius--top-left-smaller            { border-top-left-radius: @radius-smaller; }
// .border-radius--top-left-small              { border-top-left-radius: @radius-small; }
// .border-radius--top-left-base               { border-top-left-radius: @radius-base; }

// .border-radius--top-right-smaller           { border-top-right-radius: @radius-smaller; }
// .border-radius--top-right-small             { border-top-right-radius: @radius-small; }
// .border-radius--top-right-base              { border-top-right-radius: @radius-base; }

// .border-radius--bottom-left-smaller         { border-bottom-left-radius: @radius-smaller; }
// .border-radius--bottom-left-small           { border-bottom-left-radius: @radius-small; }
// .border-radius--bottom-left-base            { border-bottom-left-radius: @radius-base; }

// .border-radius--bottom-right-smaller        { border-bottom-right-radius: @radius-smaller; }
// .border-radius--bottom-right-small          { border-bottom-right-radius: @radius-small; }
// .border-radius--bottom-right-base           { border-bottom-right-radius: @radius-base; }

// .border-radius--circle                      { border-radius: @radius-circle; }
// .border-radius--pill                        { border-radius: @radius-pill; }

// /* SOLID */
// .border--base-solid                         { border: 1px solid @black-lightest; }
// .border--top-solid                          { border-top: 1px solid @black-lightest; }
// .border--right-solid                        { border-right: 1px solid @black-lightest; }
// .border--bottom-solid                       { border-bottom: 1px solid @black-lightest; }
// .border--left-solid                         { border-left: 1px solid @black-lightest; }

// /* THICK */
// .border--base-thick                         { border: 3px solid @black-lightest; }
// .border--top-thick                          { border-top: 3px solid @black-lightest; }
// .border--right-thick                        { border-right: 3px solid @black-lightest; }
// .border--bottom-thick                       { border-bottom: 3px solid @black-lightest; }
// .border--left-thick                         { border-left: 3px solid @black-lightest; }

// /* DASHED */
// .border--base-dotted                        { border: 1px dotted @black-lightest; }
// .border--top-dotted                         { border-top: 1px dotted @black-lightest; }
// .border--right-dotted                       { border-right: 1px dotted @black-lightest; }
// .border--bottom-dotted                      { border-bottom: 1px dotted @black-lightest; }
// .border--left-dotted                        { border-left: 1px dotted @black-lightest; }

// /* DASHED */
// .border--top-none                           { border-top: none; }
// .border--right-none                         { border-right: none; }
// .border--bottom-none                        { border-bottom: none; }
// .border--left-none                          { border-left: none; }

// /* AUTO */
// .border--x-solid > *:not(:last-child)       { border-right: 1px solid @black-lightest; }
// .border--y-solid > *:not(:first-child)      { border-top: 1px solid @black-lightest; }
// .border--x-dotted > *:not(:last-child)      { border-right: 1px dotted @black-lightest; }
// .border--y-dotted > *:not(:first-child)     { border-top: 1px dotted @black-lightest; }

// /* COLORS */
// .border-color--black-base                   { border-color: @black-base; }
// .border-color--black-dim                    { border-color: @black-dim; }
// .border-color--black-light                  { border-color: @black-light; }
// .border-color--black-lighter                { border-color: @black-lighter; }
// .border-color--black-lightest               { border-color: @black-lightest; }
// .border-color--black-clear                  { border-color: @black-clear; }
// .border-color--black-clearer                { border-color: @black-clearer; }
// .border-color--black-clearest               { border-color: @black-clearest; }

// .border-color--white-base                   { border-color: @white-base; }
// .border-color--white-dim                    { border-color: @white-dim; }
// .border-color--white-light                  { border-color: @white-light; }
// .border-color--white-lighter                { border-color: @white-lighter; }
// .border-color--white-lightest               { border-color: @white-lightest; }
// .border-color--white-clear                  { border-color: @white-clear; }
// .border-color--white-clearer                { border-color: @white-clearer; }
// .border-color--white-clearest               { border-color: @white-clearest; }

// .border-color--purple-base                  { border-color: @purple-base; }
// .border-color--purple-dim                   { border-color: @purple-dim; }
// .border-color--purple-light                 { border-color: @purple-light; }
// .border-color--purple-lighter               { border-color: @purple-lighter; }
// .border-color--purple-lightest              { border-color: @purple-lightest; }
// .border-color--purple-clear                 { border-color: @purple-clear; }
// .border-color--purple-clearer               { border-color: @purple-clearer; }
// .border-color--purple-clearest              { border-color: @purple-clearest; }

// .border-color--indigo-base                  { border-color: @indigo-base; }
// .border-color--indigo-dim                   { border-color: @indigo-dim; }
// .border-color--indigo-light                 { border-color: @indigo-light; }
// .border-color--indigo-lighter               { border-color: @indigo-lighter; }
// .border-color--indigo-lightest              { border-color: @indigo-lightest; }
// .border-color--indigo-clear                 { border-color: @indigo-clear; }
// .border-color--indigo-clearer               { border-color: @indigo-clearer; }
// .border-color--indigo-clearest              { border-color: @indigo-clearest; }

// .border-color--blue-base                    { border-color: @blue-base; }
// .border-color--blue-dim                     { border-color: @blue-dim; }
// .border-color--blue-light                   { border-color: @blue-light; }
// .border-color--blue-lighter                 { border-color: @blue-lighter; }
// .border-color--blue-lightest                { border-color: @blue-lightest; }
// .border-color--blue-clear                   { border-color: @blue-clear; }
// .border-color--blue-clearer                 { border-color: @blue-clearer; }
// .border-color--blue-clearest                { border-color: @blue-clearest; }

// .border-color--cyan-base                    { border-color: @cyan-base; }
// .border-color--cyan-dim                     { border-color: @cyan-dim; }
// .border-color--cyan-light                   { border-color: @cyan-light; }
// .border-color--cyan-lighter                 { border-color: @cyan-lighter; }
// .border-color--cyan-lightest                { border-color: @cyan-lightest; }
// .border-color--cyan-clear                   { border-color: @cyan-clear; }
// .border-color--cyan-clearer                 { border-color: @cyan-clearer; }
// .border-color--cyan-clearest                { border-color: @cyan-clearest; }

// .border-color--teal-base                    { border-color: @teal-base; }
// .border-color--teal-dim                     { border-color: @teal-dim; }
// .border-color--teal-light                   { border-color: @teal-light; }
// .border-color--teal-lighter                 { border-color: @teal-lighter; }
// .border-color--teal-lightest                { border-color: @teal-lightest; }
// .border-color--teal-clear                   { border-color: @teal-clear; }
// .border-color--teal-clearer                 { border-color: @teal-clearer; }
// .border-color--teal-clearest                { border-color: @teal-clearest; }

// .border-color--green-base                   { border-color: @green-base; }
// .border-color--green-dim                    { border-color: @green-dim; }
// .border-color--green-light                  { border-color: @green-light; }
// .border-color--green-lighter                { border-color: @green-lighter; }
// .border-color--green-lightest               { border-color: @green-lightest; }
// .border-color--green-clear                  { border-color: @green-clear; }
// .border-color--green-clearer                { border-color: @green-clearer; }
// .border-color--green-clearest               { border-color: @green-clearest; }

// .border-color--lime-base                    { border-color: @lime-base; }
// .border-color--lime-dim                     { border-color: @lime-dim; }
// .border-color--lime-light                   { border-color: @lime-light; }
// .border-color--lime-lighter                 { border-color: @lime-lighter; }
// .border-color--lime-lightest                { border-color: @lime-lightest; }
// .border-color--lime-clear                   { border-color: @lime-clear; }
// .border-color--lime-clearer                 { border-color: @lime-clearer; }
// .border-color--lime-clearest                { border-color: @lime-clearest; }

// .border-color--yellow-base                  { border-color: @yellow-base; }
// .border-color--yellow-dim                   { border-color: @yellow-dim; }
// .border-color--yellow-light                 { border-color: @yellow-light; }
// .border-color--yellow-lighter               { border-color: @yellow-lighter; }
// .border-color--yellow-lightest              { border-color: @yellow-lightest; }
// .border-color--yellow-clear                 { border-color: @yellow-clear; }
// .border-color--yellow-clearer               { border-color: @yellow-clearer; }
// .border-color--yellow-clearest              { border-color: @yellow-clearest; }

// .border-color--orange-base                  { border-color: @orange-base; }
// .border-color--orange-dim                   { border-color: @orange-dim; }
// .border-color--orange-light                 { border-color: @orange-light; }
// .border-color--orange-lighter               { border-color: @orange-lighter; }
// .border-color--orange-lightest              { border-color: @orange-lightest; }
// .border-color--orange-clear                 { border-color: @orange-clear; }
// .border-color--orange-clearer               { border-color: @orange-clearer; }
// .border-color--orange-clearest              { border-color: @orange-clearest; }

// .border-color--pink-base                    { border-color: @pink-base; }
// .border-color--pink-dim                     { border-color: @pink-dim; }
// .border-color--pink-light                   { border-color: @pink-light; }
// .border-color--pink-lighter                 { border-color: @pink-lighter; }
// .border-color--pink-lightest                { border-color: @pink-lightest; }
// .border-color--pink-clear                   { border-color: @pink-clear; }
// .border-color--pink-clearer                 { border-color: @pink-clearer; }
// .border-color--pink-clearest                { border-color: @pink-clearest; }

// .border-color--red-base                     { border-color: @red-base; }
// .border-color--red-dim                      { border-color: @red-dim; }
// .border-color--red-light                    { border-color: @red-light; }
// .border-color--red-lighter                  { border-color: @red-lighter; }
// .border-color--red-lightest                 { border-color: @red-lightest; }
// .border-color--red-clear                    { border-color: @red-clear; }
// .border-color--red-clearer                  { border-color: @red-clearer; }
// .border-color--red-clearest                 { border-color: @red-clearest; }

// .border-color--grey-darkest                 { border-color: @grey-darkest; }
// .border-color--grey-darker                  { border-color: @grey-darker; }
// .border-color--grey-dark                    { border-color: @grey-dark; }
// .border-color--grey-brightest               { border-color: @grey-brightest; }
// .border-color--grey-brighter                { border-color: @grey-brighter; }
// .border-color--grey-bright                  { border-color: @grey-bright; }
// .border-color--grey-light                   { border-color: @grey-light; }
// .border-color--grey-lighter                 { border-color: @grey-lighter; }
// .border-color--grey-lightest                { border-color: @grey-lightest; }
// .border-color--grey-clear                   { border-color: @grey-clear; }
// .border-color--grey-clearer                 { border-color: @grey-clearer; }
// .border-color--grey-clearest                { border-color: @grey-clearest; }



/*  $BOX
    ========================================================================== */
.box--micro {
    width: @space-micro;
    height: @space-micro;
}
.box--tiniest {
    width: @space-tiniest;
    height: @space-tiniest;
}
.box--tinier {
    width: @space-tinier;
    height: @space-tinier;
}
.box--tiny {
    width: @space-tiny;
    height: @space-tiny;
}
.box--smallest {
    width: @space-smallest;
    height: @space-smallest;
}
.box--smaller {
    width: @space-smaller;
    height: @space-smaller;
}
.box--small {
    width: @space-small;
    height: @space-small;
}
.box--large {
    width: @space-large;
    height: @space-large;
}
.box--larger {
    width: @space-larger;
    height: @space-larger;
}
.box--largest {
    width: @space-largest;
    height: @space-largest;
}
.box--big {
    width: @space-big;
    height: @space-big;
}
.box--bigger {
    width: @space-bigger;
    height: @space-bigger;
}
.box--biggest {
    width: @space-biggest;
    height: @space-biggest;
}
.box--huge {
    width: @space-huge;
    height: @space-huge;
}




/*  $MARGIN
    ========================================================================== */

.remove-margin > :last-child { margin-bottom: 0; }


/* X */
.margin--x-micro {
    margin-right: @space-micro; 
    margin-left: @space-micro;
}
.margin--y-tiniest {
    margin-top: @space-tiniest; 
    margin-bottom: @space-tiniest;
}
.margin--x-tiniest {
    margin-right: @space-tiniest; 
    margin-left: @space-tiniest;
}
.margin--x-tinier {
    margin-right: @space-tinier;  
    margin-left: @space-tinier;
}
.margin--x-tiny {
    margin-right: @space-tiny;    
    margin-left: @space-tiny;
}
.margin--x-smallest {
    margin-right: @space-smallest;
    margin-left: @space-smallest;
}
.margin--x-smaller {
    margin-right: @space-smaller; 
    margin-left: @space-smaller;
}
.margin--x-small {
    margin-right: @space-small;   
    margin-left: @space-small;
}
.margin--x-large {
    margin-right: @space-large;   
    margin-left: @space-large;
}
.margin--x-larger {
    margin-right: @space-larger;  
    margin-left: @space-larger;
}
.margin--x-largest {
    margin-right: @space-largest; 
    margin-left: @space-largest;
}
.margin--x-big {
    margin-right: @space-big;     
    margin-left: @space-big;
}
.margin--x-bigger {
    margin-right: @space-bigger;  
    margin-left: @space-bigger;
}
.margin--x-biggest {
    margin-right: @space-biggest; 
    margin-left: @space-biggest;
}
.margin--x-huge {
    margin-right: @space-huge; 
    margin-left: @space-huge;
}

/* Y */
.margin--x-micro {
    margin-right: @space-micro; 
    margin-left: @space-micro;
}
.margin--y-tiniest {
    margin-top: @space-tiniest; 
    margin-bottom: @space-tiniest;
}
.margin--y-tiniest {
    margin-top: @space-tiniest; 
    margin-bottom: @space-tiniest;
}
.margin--y-tinier {
    margin-top: @space-tinier;  
    margin-bottom: @space-tinier;
}
.margin--y-tiny {
    margin-top: @space-tiny;    
    margin-bottom: @space-tiny;
}
.margin--y-smallest {
    margin-top: @space-smallest;
    margin-bottom: @space-smallest;
}
.margin--y-smaller {
    margin-top: @space-smaller; 
    margin-bottom: @space-smaller;
}
.margin--y-small {
    margin-top: @space-small;   
    margin-bottom: @space-small;
}
.margin--y-large {
    margin-top: @space-large;   
    margin-bottom: @space-large;
}
.margin--y-larger {
    margin-top: @space-larger;  
    margin-bottom: @space-larger;
}
.margin--y-largest {
    margin-top: @space-largest; 
    margin-bottom: @space-largest;
}
.margin--y-big {
    margin-top: @space-big;     
    margin-bottom: @space-big;
}
.margin--y-bigger {
    margin-top: @space-bigger;  
    margin-bottom: @space-bigger;
}
.margin--y-biggest {
    margin-top: @space-biggest; 
    margin-bottom: @space-biggest;
}
.margin--y-huge {
    margin-top: @space-huge; 
    margin-bottom: @space-huge;
}


/* TOP */
.margin--top-micro                  { margin-top: @space-micro; }
.margin--top-tiniest                { margin-top: @space-tiniest; }
.margin--top-tinier                 { margin-top: @space-tinier; }
.margin--top-tiny                   { margin-top: @space-tiny; }
.margin--top-smallest               { margin-top: @space-smallest; }
.margin--top-smaller                { margin-top: @space-smaller; }
.margin--top-small                  { margin-top: @space-small; }
.margin--top-large                  { margin-top: @space-large; }
.margin--top-larger                 { margin-top: @space-larger; }
.margin--top-largest                { margin-top: @space-largest; }
.margin--top-big                    { margin-top: @space-big; }
.margin--top-bigger                 { margin-top: @space-bigger; }
.margin--top-biggest                { margin-top: @space-biggest; }
.margin--top-huge                   { margin-top: @space-huge; }


/* RIGHT */
.margin--right-micro                { margin-right: @space-micro; }
.margin--right-tiniest              { margin-right: @space-tiniest; }
.margin--right-tinier               { margin-right: @space-tinier; }
.margin--right-tiny                 { margin-right: @space-tiny; }
.margin--right-smallest             { margin-right: @space-smallest; }
.margin--right-smaller              { margin-right: @space-smaller; }
.margin--right-small                { margin-right: @space-small; }
.margin--right-large                { margin-right: @space-large; }
.margin--right-larger               { margin-right: @space-larger; }
.margin--right-largest              { margin-right: @space-largest; }
.margin--right-big                  { margin-right: @space-big; }
.margin--right-bigger               { margin-right: @space-bigger; }
.margin--right-biggest              { margin-right: @space-biggest; }
.margin--right-huge                 { margin-right: @space-huge; }

/* BOTTOM */
.margin--bottom-micro               { margin-bottom: @space-micro; }
.margin--bottom-tiniest             { margin-bottom: @space-tiniest; }
.margin--bottom-tinier              { margin-bottom: @space-tinier; }
.margin--bottom-tiny                { margin-bottom: @space-tiny; }
.margin--bottom-smallest            { margin-bottom: @space-smallest; }
.margin--bottom-smaller             { margin-bottom: @space-smaller; }
.margin--bottom-small               { margin-bottom: @space-small; }
.margin--bottom-large               { margin-bottom: @space-large; }
.margin--bottom-larger              { margin-bottom: @space-larger; }
.margin--bottom-largest             { margin-bottom: @space-largest; }
.margin--bottom-big                 { margin-bottom: @space-big; }
.margin--bottom-bigger              { margin-bottom: @space-bigger; }
.margin--bottom-biggest             { margin-bottom: @space-biggest; }
.margin--bottom-huge                { margin-bottom: @space-huge; }

/* LEFT */
.margin--left-micro                 { margin-left: @space-micro; }
.margin--left-tiniest               { margin-left: @space-tiniest; }
.margin--left-tinier                { margin-left: @space-tinier; }
.margin--left-tiny                  { margin-left: @space-tiny; }
.margin--left-smallest              { margin-left: @space-smallest; }
.margin--left-smaller               { margin-left: @space-smaller; }
.margin--left-small                 { margin-left: @space-small; }
.margin--left-large                 { margin-left: @space-large; }
.margin--left-larger                { margin-left: @space-larger; }
.margin--left-largest               { margin-left: @space-largest; }
.margin--left-big                   { margin-left: @space-big; }
.margin--left-bigger                { margin-left: @space-bigger; }
.margin--left-biggest               { margin-left: @space-biggest; }
.margin--left-huge                  { margin-left: @space-huge; }